# Twitter Sentiment Analysis: Data Cleaning

## Notebook Overview
This notebook is dedicated to cleaning and preparing the Twitter dataset for subsequent sentiment analysis. The primary goal is to transform raw tweet data into a clean format suitable for NLP tasks. This involves handling missing data, normalizing text, and removing noise such as special characters and URLs.

## Table of Contents
1. **Introduction**
   - Purpose of the notebook
   - Description of the dataset
2. **Data Loading**
   - Import necessary libraries
   - Load the dataset
3. **Initial Data Exploration**
   - Display basic information and statistics
   - Identify missing values and anomalies
4. **Data Cleaning**
   - Remove unnecessary columns
   - Normalize the target Column
   - Handle missing data
   - Normalize text data
   - Remove special characters, URLs, mentions, and hashtags
6. **Saving the Cleaned Data**
   - Save the processed data to a new CSV file
7. **Conclusion**
   - Summary of the data cleaning steps
   - Next steps and transition to the next phase of the project

# 1. Introduction

The focus of this notebook is to clean the data extracted from Twitter, ensuring it is primed for analysis and modeling. The dataset contains various columns from which only the text and sentiment labels are primarily needed for our sentiment analysis task.

## Data Source

The dataset you are using is the "Sentiment140" dataset. This dataset was created by researchers at Stanford University and is designed specifically for sentiment analysis tasks. It is commonly used in the machine learning community for training and testing sentiment analysis models due to its large volume and diversity of tweets. This dataset can be found here: https://www.kaggle.com/datasets/milobele/sentiment140-dataset-1600000-tweets

## Dataset Composition

The Sentiment140 dataset consists of 1.6 million tweets extracted using the Twitter API. The tweets have been annotated automatically with tags related to the sentiment of the tweet based on the emoticons present in them. Here are the details of the columns in the dataset:

target: The polarity of the tweet (0 = negative, 2 = neutral, 4 = positive). In most versions of this dataset, only negative and positive sentiments are included (0 and 4).

##### id: The unique identifier for each tweet.
##### date: The date and time when the tweet was posted.
##### flag: This field is often set to "NO_QUERY" and does not contain useful information for sentiment analysis.
##### user: The username of the tweet's author.
##### text: The text of the tweet itself.

This structure helps in various NLP tasks, particularly sentiment analysis, by providing a pre-labeled set of data for training machine learning models.

When loading this data, ensure you handle it correctly by specifying the structure and encoding, as shown previously. This will set a solid foundation for your data cleaning and analysis processes.

# 2. Data Loading

In [17]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

import re
import unicodedata

In [18]:
# Define column names for the dataset
file_path = 'raw_data/training.1600000.processed.noemoticon.csv'
column_names = ['target', 'id', 'date', 'flag', 'user', 'text']

# Load the dataset
data = pd.read_csv(file_path, names=column_names, encoding='latin1')

#### Display the first few rows of the dataset

In [19]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

# 3. Initial Data Exploration

#### Display basic information about the dataset

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   id      1600000 non-null  int64
 2   date    1600000 non-null  object
 3   flag    1600000 non-null  object
 4   user    1600000 non-null  object
 5   text    1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

#### Let's parse the date column to datetime.

In [21]:
data['date'].head(10)

0    Mon Apr 06 22:19:45 PDT 2009
1    Mon Apr 06 22:19:49 PDT 2009
2    Mon Apr 06 22:19:53 PDT 2009
3    Mon Apr 06 22:19:57 PDT 2009
4    Mon Apr 06 22:19:57 PDT 2009
5    Mon Apr 06 22:20:00 PDT 2009
6    Mon Apr 06 22:20:03 PDT 2009
7    Mon Apr 06 22:20:03 PDT 2009
8    Mon Apr 06 22:20:05 PDT 2009
9    Mon Apr 06 22:20:09 PDT 2009
Name: date, dtype: object

In [22]:
# Correct timezone extraction
data['timezone'] = data['date'].str.extract(r"\b([A-Z]{3})\b")

# Display timezone counts
timezone_counts = data['timezone'].value_counts(dropna=False)  # Include NaN counts
print("Timezone Counts:")
print(timezone_counts)

Timezone Counts:
timezone
PDT    1600000
Name: count, dtype: int64

In [23]:
# Define a mapping of timezone abbreviations to UTC offsets
timezone_map = {
    "PDT": "-0700",
    "EDT": "-0400",
    "CST": "-0600",
    "MST": "-0700",
    "EST": "-0500",
}

# Replace timezone abbreviations with offsets in the date column
for tz, offset in timezone_map.items():
    data['date'] = data['date'].str.replace(tz, offset, regex=True)

In [24]:
# Parse the date column with timezone offsets
date_format_with_offset = "%a %b %d %H:%M:%S %z %Y"  # %z handles offsets
data['date'] = pd.to_datetime(data['date'], format=date_format_with_offset, errors='coerce')

# Verify the parsing
data[['date']].head()

                       date
0 2009-04-06 22:19:45-07:00
1 2009-04-06 22:19:49-07:00
2 2009-04-06 22:19:53-07:00
3 2009-04-06 22:19:57-07:00
4 2009-04-06 22:19:57-07:00

##### Looks good!

#### Describe the dataset

In [25]:
data.describe()

             target            id
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

#### Data types

In [26]:
data.dtypes

target                          int64
id                              int64
date        datetime64[ns, UTC-07:00]
flag                           object
user                           object
text                           object
timezone                       object
dtype: object

#### Let's identify missing values and anomalies

In [27]:
# Check for missing values
missing_values = data.isnull().sum()

print("Missing Values Count:")
print(missing_values)

Missing Values Count:
target      0
id          0
date        0
flag        0
user        0
text        0
timezone    0
dtype: int64

In [28]:
# Unique values in the target column
print("Unique values in 'target':")
print(data['target'].unique())

# Check for unique IDs
is_id_unique = data['id'].is_unique
print(f"Are IDs unique? {is_id_unique}")

Unique values in 'target':
[0 4]
Are IDs unique? False

In [29]:
# Unique values in the 'text' column
unique_texts_count = len(data['text'].unique())  # Count of unique texts
total_rows = len(data)  # Total number of rows in the dataset

# Calculate duplicates
duplicates_count = total_rows - unique_texts_count

# Print results
print(f"There are {unique_texts_count} unique texts.")
print(f"This means we need to drop {duplicates_count} duplicate rows.")

There are 1581466 unique texts.
This means we need to drop 18534 duplicate rows.

Let's drop them.

In [15]:
# Drop duplicates based on the 'text' column
data.drop_duplicates(subset=["text"], inplace=True)

# Reset the index for the updated DataFrame
data.reset_index(drop=True, inplace=True)

# Confirm the new size of the dataset
print(f"Dataset size after dropping duplicates: {len(data)}")

Dataset size after dropping duplicates: 1581466

In [16]:
# Check for empty or very short text
short_texts = data[data['text'].str.len() < 5]
print(f"Number of very short text entries: {len(short_texts)}")

Number of very short text entries: 0

Let's drop them

In [16]:
# Identify and count very short text entries
short_texts = data[data['text'].str.len() < 5]
print(f"Number of very short text entries: {len(short_texts)}")

# Drop short text entries
data = data[data['text'].str.len() >= 5].reset_index(drop=True)

# Confirm the new size of the dataset
print(f"Dataset size after dropping very short text entries: {len(data)}")

Number of very short text entries: 0
Dataset size after dropping very short text entries: 1581466

# 4. Data Cleaning

#### Let's drop irrelevant features

In [17]:
# Drop irrelevant columns
data = data.drop(columns=['id', 'flag', 'user', 'timezone'])

# Verify the updated DataFrame structure
data.head()

,target,date,text
0,0,2009-04-06 22:19:45-07:00,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,2009-04-06 22:19:49-07:00,is upset that he can't update his Facebook by ...
2,0,2009-04-06 22:19:53-07:00,@Kenichan I dived many times for the ball. Man...
3,0,2009-04-06 22:19:57-07:00,my whole body feels itchy and like its on fire
4,0,2009-04-06 22:19:57-07:00,"@nationwideclass no, it's not behaving at all...."

In [18]:
data.columns

Index(['target', 'date', 'text'], dtype='object')

#### Normalize the target Column (0 will be negative and 1 will be positive)

In [19]:
# Normalize the target column
data['target'] = data['target'].replace({4: 1})

# Verify normalization
print("Unique values in 'target' after normalization:")
print(data['target'].unique())

Unique values in 'target' after normalization:
[0 1]

#### Normalize text data

In [20]:
# Define a function to normalize text
def normalize_text(text):
    text = text.lower()  # Convert to lowercase
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8')  # Normalize encoding
    text = re.sub(r"http\S+|www\S+|https\S+|ftp\S+", "", text, flags=re.MULTILINE)  # Remove URLs
    text = re.sub(r"@\w+", "", text)  # Remove mentions
    text = re.sub(r"#\w+", "", text)  # Remove hashtags
    text = re.sub(r"[^\w\s]", "", text)  # Remove special characters
    text = re.sub(r"\s+", " ", text).strip()  # Remove extra whitespace
    return text

# Apply normalization to the text column
data['text'] = data['text'].apply(normalize_text)

# Verify the results
print("Sample normalized text:")
print(data['text'].head())

Sample normalized text:
0    a thats a bummer you shoulda got david carr of...
1    is upset that he cant update his facebook by t...
2    i dived many times for the ball managed to sav...
3       my whole body feels itchy and like its on fire
4    no its not behaving at all im mad why am i her...
Name: text, dtype: object

#### Now let's validate the normalization

In [21]:
def validate_cleaning(data):
    """
    Validates if all mentions, URLs, hashtags, and special characters are removed.
    
    Parameters:
        data (DataFrame): The DataFrame containing the `text` column.
        
    Returns:
        dict: Counts of remaining unwanted elements.
    """
    patterns = {
        "mentions": r"@\w+",
        "urls": r"http\S+|www\S+|https\S+",
        "hashtags": r"#\w+",
        "special_characters": r"[^\w\s]",
    }
    
    results = {}
    for key, pattern in patterns.items():
        matches = data['text'].str.contains(pattern, regex=True).sum()
        results[key] = matches
    
    return results

# Run the validation
validation_results = validate_cleaning(data)

# Display the results
print("Validation Results:")
print(validation_results)

Validation Results:
{'mentions': 0, 'urls': 17, 'hashtags': 0, 'special_characters': 0}

#### Display some random samples of the text column to double check

In [22]:
random_samples = data['text'].sample(200, random_state=42)

print("Random Samples of Text:")
for i, text in enumerate(random_samples, start=1):
    print(f"{i}: {text}")

Random Samples of Text:
1: hans im an open book you can ask me anything you want hit up the blog and ask away i can give you more in depth answer there
2: wuaaah we have strawberries at home
3: very cool and to quote tbs quotnow thats funnyquot
4: the last sunday
5: oh thanks thats good to know
6: hi kate how are you
7: nice i like that combo
8: youre always welcome just give me a headsup so i can put down the machete and rinse off the bug spray
9: excited for tomorrows swim date
10: i want to call you but i live in braaaaazil xoxo
11: need a wireless card or usb hook up for my computer theres no cable jack in my room amp nor can they put one in
12: is it possible to have enough beer haha jk they started running out when i went but i was dd so i barely sipped them
13: yeah but now you wont be sitting with us and austins having trouble getting tickets
14: hoping megan is having a good birthday and wondering where everyone is
15: gave up with the studyin thing watchhinn tv
16: great loss indeed i hope the find what went wrong and prevent future incidents
17: now thats celebrating in style
18: came out the club now lookin for somewhere to eat mofongo house is too packed
19: sorry about your knee dear now wheres that tattoo pic
20: new blackberry baby woop shopping today was fun fun fun
21: joe wants to have sex but yvonne ir a good girl hahaha
22: getting on the typhoon last ride of the night
23: jonas brothers omjjj i love yous both should have been a tie woo lets fuck haha jkjk
24: same for me except i dont have any internet
25: gotta run radio interview in a few minutes getting my thoughts in order
26: my pic with harry is so bad
27: yes it was horrible dont wanna go back ever such a dark place
28: what is her favorite color
29: to the corner store or to one in another country im looking forward to when i can go to beijing to have a drink
30: well they dont know what theyre missing ive ordered from glamourdolleyes amp sudnsass cause of your vids
31: sigh got the disconnect notice for the power this am all i need now is to find a thousand dollars
32: i hate our phones
33: what does one wall say to the other meet you in the corner incredible lame watching the fashion show on youtube lt3
34: i want my cd
35: i told you big head
36: today dragged on but atleast im home nao might go out inaa bit
37: morning everyone how are yall doing
38: elvas babyshower todayyy with bran da man its a boy stokkkedd tonight should be good hollerzz
39: awww cuuute i have a black cat too but shes only 2 months old
40: glad i could help anytime
41: gosh this cough is killing me
42: cant wait because she has her prom very soon
43: camping was awesome we rented a pontoon and we went tubing and we made smores and told ghost stories so much fun but now i have a cold
44: what kind of issues and what kind of plane im a aircraft technician cant help you just curious
45: calling a seat for nazi nick in nw
46: thanx 4 following hope ur doing well
47: hugs glad to hear that hope youre lil doll is ok s
48: a i miss my friends already oh well hopefully i will get the chance to see the majority of them over the summer stomach hurts
49: barsexuals is on the scoop againimpressive
50: sitting here stuck work wanna watch the game shawn
51: i like them
52: agh phones keep ringing stirring up another migrain hope it goes away before my dr appointment later
53: at work and so upset i cant get my phone yet to update twitter
54: my conturytomorrow is monday
55: seven days until i see my wife again
56: hmmm hehe i wonder where my laxatives are
57: i love them too did you signup on shoehunting you can save shoes and it will get posted to twitter automatically fun
58: actual last day of college pity it has to finish with a drama examtotal crap
59: always a great thing to find in your inbox
60: happy cause boyfriend will come over and tuck me in tonight
61: im being misserable lol why am i not good enough to be someones girlfriend it sucks to be me
62: missing a very special friend right now
63: lol i recommend you a lot i have no idea who it might be amber maybe
64: i am feeling so ill today my throat is swollen and i just feel ugh bad times
65: so i got a new battery and that was half the problem now the connectors need to be replaced so i am still without my car
66:
67: your pic doesnt show up and it makes me sad
68: now act like it
69: thanks for the set list do you know if theres any pixie merch x
70: lol that one came through blank
71: nope u have just got a susan boyle thang goin on haha
72: my back is killing me
73: so sleepy today its too hot and nice to be in work all day
74: wiiii i hear radio disney again
75: getting ready to start work it is to nice a day to work in side
76: all icetea is you from x
77: woke up with the most massive hairdoo proper all over the place jungle afro its raining and im cold
78: your tweet was just included in the longest poem in the world
79: thats cool
80: having strep throat stinks
81: oh god i need this phone amp the n97 touchscreen and keypad the optical keypad will make it such a twitter client
82: hi sarah yes great movie so many tears haha
83: you off today if so enjoy
84: wishing i was outside frolicking instead of folding past due invoices
85: prom is scary hahaha
86: sleep would be marvelous right now my feets hurt alas i need a shower first sigh
87: hey i was gonna start one caught me
88: chilling at home
89: ciara was great at snlkimyou were mentioned on snl tonightjustin t was really good also
90: i knew it wouldnt last it was only a matter of time sux i was getting used to his nice side
91: for all those ex gis soon to be ex manpower people i wish you well in the job hunt dont you just love offshoring
92: m lemon yes we have no flv support in quicktime x for snow leopard developer preview bad source
93: im a production assistant which is the bottom of the ladder in the production worldbut its on the ladder at least
94: want to eat kinder bueno white now
95: i knew i had sun stroke just got sent home sick
96: omg why wont my mom hurry up ltxoxogt
97: thanks for the tip this author has great songs
98: uh doughnuts im not eating todayi feel disgusting
99: according to mick jagger hindu ragas are more sfs sort of music
100: i gotta sleep later tweeties i really had a fun time its already 310am here thanks a lot to yall
101: has tonsils that are so swollen they are touching each other
102: harvested another rogue lettuce in my carrots which was attracting the slugs urgh
103: going 2 the ihop yum yum
104: loves sundays so sore this morning but off to the gym anyways
105: howdy maam keeping zona entertained
106: affects every tiny little bit of our personal lives dho
107: mrs gritmaster has just signed up to twitter not sure she knows what she is doing anyway welcome to twitter
108: umm i think six or seven if you can think of any i would love to hear them
109: a not on
110: btw was dave there too cuz doesnt he like sports a lot lol
111: it was a good day learned how i can be better at my job got my cardio in and got to watch the lost finale with andy
112: volcanic erruption in my noggin aka massive headache
113: thanks
114: you may want to keep a stash of those pills just in case
115: im in a car driving to st pete for a funeral i have a bb but no cable tv
116: unfortunately the blackampred lost but i dont mind im from pernambuco and sport is my alternative
117: the vt storm chasers are on twitter follow them at i wish i could be with them however i dont miss all the driving
118: in pittsburgh finally going to see sissylt3 and unfortunatly her bitch girlfriend err
119: dont give up on life
120: wow booking flights is really hard work how do i know which is cheapest
121: watchingkim possible lol
122: had a great meeting decided on our new club name too its boogie bam anime jam let that sink in
123: nooo apples server is temporarily unavailable as i was finishing the 30 download thats what i get for waiting for dramatic effect
124: hmm wondering if im happy having my firefox skin be christmasy all the time may need some getting used to
125: whats happened x
126: watched 4 eps of liar game and am loving it will watch the rest over the next week or two and get the blog done asap
127: my baby niece is graduating from kindergarden today
128: getting my drink on since its my birthday hell yeah
129: yeah the 1k15k ill be saving should buy a lotta drink for me
130: hey parishow r u what r u going to buy today i would like to go shopping with u someday xoxoxo
131: noo flawless shud have won
132: pretty sure east17 are someone we would all love to see reform it was cool for boys to like boybands back then
133: okay thanks e
134: my best buds in the whole world claudias not there though she is gone to cuba miss her
135: cant working
136: will go to wedding with my mum say quot grow upquot but she cant understand dont wanna go
137: hey awesome ill go check it out dude
138: how about visiting canada preferrably toronto ontario area
139: your offended by my use of the word quotthequot okmagazine i cant believe i have offended you
140: this isnt going very well why is it taking so long
141: jay def brings an energy when he steps in but thats to be expected hes 19 amazing hes only been playing 6 years or so
142: when are you coming to philly hurry please
143: should have never gone home for the weekendtalk about being homesick
144: we met elijahs girl friend she is really nice but she is a quotnormalquot horse person so i have to teach her parelli but she loved blaze
145: yo do you have gordons actual interview questions as i have the hnd ones
146: i got the cd in the mail
147: ohhh yahh o i member chuu x3 hiii
148: one of the vehicles on service 13 has suffered a mechanical problem at bathford engineers on way apologies for any delays
149: so he should it beautiful
150: quotim breaking windquot lmao after school care kids are funny
151: very true
152: ohhh what do to what to do what to do
153: of course we were at 145am jordens heart got broke yesterday
154: out spoiling myself im really happy
155: outpost gallifrey and its forum will be closing on july 31 wtf hope theres going to be a good new alternative
156: put up the brenna is ghey video and the ones from my party last year
157: i needa stop comparing myself to u
158: sorry wrong person boss ladu is has another name yet to be determined
159: thanks henrik allow me 9 days for delivery so sorry but new stock is coming next tuesday not earlier
160: me either
161: its like she doesnt want to come
162: i hope that comment jinxed your lakers
163: totally narked with my recent barber experience far too short for comfort he was bald maybe he hated my flowing locks
164: yeah that would be dumb buddy lol
165: oh yeah im the original wild child with my dew drinking
166: is wondering when shell be able to see cherry bomb
167: yea green
168: fun i had to try that one
169: really wish i could be at the laker parade tomorrow to celebrate with my bestfriendslakerfans
170: i have a rash on my chest
171: happy mothers day to your mom and wife today
172: tom the show in brasilia was amazing was my birthday and i love you sow much why arent you talking to me
173: beautiful art garfunkel is a true minstrel and pauls voice moves me endlessly
174: its beautiful there i would know i went there just to see a concert
175: is uploading his new profilephoto i think ita s ok
176: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaah
177: trying to get out of bed
178: sounds like fun and hope you have a wonderful time but dont get too crazy ya hear
179: ou gush i didint wrote si long bur what can i say maybe i am busy or what but keri hilson is always in my mind these days
180: not only was your talk impressive the fact you remained standing throughout it was astounding well done sir neutral
181: 15pm oh must be a wonderful session for u and chris
182: where r all the hot fla ladies seems all the sex kittens i am following r in cali
183: is not going to let others bring me down life goes on
184: thanks friendim jelly ur having roscoes right now
185: azn grocery shopppping
186: wants to drive around redlands at sunset put on some good music and feel the cool breeze on his face while the palm trees sway
187: woah time goes past really quickly when im writing a text its kinda annoying missing out on information
188: opera is not working thank god i have safari
189: is pale sick and too tired for work
190: but stuck at home coz of the rains and a sore throat
191: is going to dinner wo mom
192: getting up with the kids never a break buy i got to love their smiles
193: was obviously very wrong when i thought my feet were slowly getting better x
194: jb had and awsome ride
195: hope you didnt have trouble translatin mine haha
196: i bought speed racer today at hollywood videofor 4 bucks i am gonna go watch it and cool off from all the walking i did today
197: panicking slightly running out of healthy foods to suppliment my lack of suppliments s next pay day mens protien amp lots of it
198: i love that invite its so cute you better design your own wedding invite i bet youll have a really nice story to share
199: cleaned the kitchen whilst drinking beer and listening to green day full blast was about to have a bath but the monster got there first
200: kfc is so addictive fighting the urge 2 jump in my car my sisters tweet is egging me on

### Observations

#### Weirdly Encoded Characters
- **Example**: `fckbri12ndby 40` (Sample 49)  
  - This still looks unusual and might indicate an encoding issue or nonsensical text entry.
  - Likely originated from corrupted data or abbreviation/slang.

#### Short/Unclear Contexts
- **Examples**:  
  - `high low` (Sample 165)  
  - `diversity won damnn i wanted flawless to win` (Sample 160)  
  - `downtown disney` (Sample 200)  
  - These entries are brief and may lack meaningful context for sentiment analysis.

#### Edge Cases
- **Example**: `morning twitterlandoff to work i go` (Sample 176)  
  - Contains typos or casual language (`twitterland`), which is common in tweets but may affect NLP preprocessing.

# 5. Saving the Cleaned Data

In [23]:
data.to_csv('./clean_data/cleaned_twitter_data.csv', index=False)

# 6. Conclusion


In this notebook, we successfully cleaned the raw text data from the Sentiment140 dataset. Below is a summary of the tasks completed:

1. **Loaded the Dataset**:
   - Imported the Sentiment140 dataset and examined its structure and data types.

2. **Handled Missing Values and Anomalies**:
   - Verified that no missing values were present.
   - Ensured no duplicate rows exist.
   - Identified and addressed encoding issues and nonsensical entries.

3. **Formatted the `date` Column**:
   - Standardized the `date` column by replacing timezone abbreviations with UTC offsets.
   - Converted the column to the correct `datetime` datatype for consistency.

4. **Normalized Text Data**:
   - Removed mentions, hashtags, URLs, and special characters.
   - Converted text to lowercase for uniformity.
   - Validated the cleaning process to ensure all unwanted elements were removed.



With this, the data is now clean and ready for further analysis.

---

## Next Steps: Exploratory Data Analysis (EDA)

The next notebook will focus on exploring the cleaned dataset. This will include:
- Visualizing the distribution of sentiment classes.
- Analyzing tweet characteristics (e.g., text length, word usage).
- Identifying patterns and relationships that may influence sentiment.

This EDA will provide valuable insights to guide the preprocessing and modeling phases.